<div id="product" class="page-layout carded fullwidth inner-scroll">

    <div class="top-bg accent"></div>

    <div class="center">

        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <div fxLayout="row" fxLayoutAlign="start center">

                <div class="product-image mr-8 mr-sm-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}"
                >
                    <img [src]="'assets/images/ecommerce/product-image-placeholder.png'">
                </div>

                <div fxLayout="column" fxLayoutAlign="start start"  [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2">
                        {{ eventDetail && eventDetail.name}}
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Event Details</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-card">

            <div class="content">

                <div class="product w-100-p" fxLayout="column" fxFlex>

                    <mat-tab-group>
                        <mat-tab label="Basic Info">
                            <form name="eventForm" [formGroup]="eventForm" class="product w-100-p" fxLayout="column" fxFlex>

                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <div class="w-100-p">
                                    <mat-form-field class="w-100-p" appearance="outline">
                                        <mat-label class="accent-fg">Event Description(40-400char)</mat-label>
                                        <textarea matInput
                                              name="description(40-400 char)"
                                              [formControlName]="'description'"
                                              rows="5"></textarea>
                                    </mat-form-field>
                                </div>

                                <div class="w-100-p" fxLayout="row">

                                    <div class="w-50-p">
                                        <div class="accent-fg">
                                            <span>Start Time</span>
                                        </div>
                                        <div fxLayout="row">
                                            <span [owlDateTimeTrigger]="dt2">
                                            <mat-icon _ngcontent-c56="" class="secondary-text s-32 mat-icon material-icons" role="img" aria-hidden="true">
                                             calendar_today
                                             </mat-icon>
                                            </span>
                                            <input [owlDateTime]="dt2" placeholder="Start Time" [formControlName]="'startsAt'">
                                            <owl-date-time #dt2 [pickerMode]="'popup'"></owl-date-time>
                                        </div>
                                    </div>

                                    <div class="w-50-p">
                                        <div class="accent-fg">
                                            <span>End Time</span>
                                        </div>
                                        <div class="w-100-p" fxLayout="row">
                                            <span [owlDateTimeTrigger]="dt1">
                                            <mat-icon _ngcontent-c56="" class="secondary-text s-32 mat-icon material-icons" role="img" aria-hidden="true">
                                             calendar_today
                                            </mat-icon>
                                             </span>
                                            <input [owlDateTime]="dt1" placeholder="End Time" [formControlName]="'endsAt'">
                                            <owl-date-time #dt1 [pickerMode]="'popup'"></owl-date-time>
                                        </div>
                                    </div>
                                </div>
                                <div class="w-100-p pt-12" fxLayout="row">
                                    <button mat-raised-button color="accent" (click)="updateDescription()">Save</button>
                                </div>

                            </div>
                        </form>
                        </mat-tab>
                        <mat-tab label="Registration Detail" *ngIf="eventDetail && eventDetail.registrationDetail">
                            <div class="tab-content p-24">
                                <div  class="product w-100-p" fxLayout="column" fxFlex>
                                    <div fxLayout="row" fxLayoutAlign="space-between">
                                        <button mat-stroked-button *ngIf="eventDetail.registrationDetail.type === 'solo'" class="primary-fg">
                                            <mat-icon class="s-48">
                                                person_outline
                                            </mat-icon>
                                            Solo Event
                                        </button>
                                        <button mat-raised-button *ngIf="eventDetail.registrationDetail.type === 'team'">
                                            <mat-icon class="s-48">
                                                people_outline
                                            </mat-icon>
                                            Team Event ( {{eventDetail.registrationDetail.min}}  - {{eventDetail.registrationDetail.max}}  Members  )   
                                        </button>

                                        <div fxLayout="column">
                                                <p class="green-fg">Registration Portal Opens</p>
                                                <div fxLayout="row">
                                                <span [owlDateTimeTrigger]="dt1">
                                                <mat-icon _ngcontent-c56="" class="secondary-text s-32 mat-icon material-icons" role="img" aria-hidden="true">
                                                    calendar_today
                                                    </mat-icon>
                                                </span>
                                                    <input [owlDateTime]="dt1" placeholder="Start Time" [(ngModel)]="eventDetail.registrationDetail.startsAt" hidden>
                                                    <p>{{eventDetail.registrationDetail.startsAt | date:'short'}}</p>
                                                    <owl-date-time #dt1 [pickerMode]="'dialog'"></owl-date-time>
                                                </div>
                                        </div>
                                        

                                        <div fxLayout="column">
                                                <p class="warn-fg">Registration Portal Closes</p>
                                            <div fxLayout="row">
                                            <span [owlDateTimeTrigger]="dt2">
                                            <mat-icon _ngcontent-c56="" class="secondary-text s-32 mat-icon material-icons" role="img" aria-hidden="true">
                                                calendar_today
                                                </mat-icon>
                                            </span>
                                                <input [owlDateTime]="dt2" placeholder="Start Time" [(ngModel)]="eventDetail.registrationDetail.endsAt" hidden>
                                                <p>{{eventDetail.registrationDetail.endsAt | date:'short'}}</p>

                                                <owl-date-time #dt2 [pickerMode]="'dialog'"></owl-date-time>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row w-100-p">
                                        <p *ngIf="eventDetail.registrationDetail.restricted && eventDetail.registrationDetail.restricted === true"
                                        class="green-fg">
                                            This event has restricted access for registration,
                                             This means only the participants who have already paid for any one of the package options can register to it.
                                             If the event is a team event, all the members should have the package.
                                        </p>
                                        <p *ngIf="!eventDetail.registrationDetail.restricted" class="red-fg">
                                                This event has ropen registration,
                                               This means anyone can register to this event.
                                               Please be careful while selecting participants for the next round and check the packages subscribed by the particpants.
                                               If this is a team event, the package is probably required for only the team captain.
                                        </p>
                                    </div>
                                    <div class="w-100-p" fxLayout="column">
                                        <div class="h1 w-100-p primary-text text-center">Package Options</div>
                                        <div class="w-100-p" fxLayout="row" fxLayoutAlign="space-around">
                                                <button mat-button [class]="packageClasses[package] + '-fg'"
                                                *ngFor="let package of eventDetail.registrationDetail.packages" 
                                                >
                                                    <mat-icon class="m-4">
                                                        {{ packageIcons[package] }}
                                                    </mat-icon> <p>{{ package }}</p>
                                                </button>
                                        </div> 
                                    </div>
                                    <div class="w-100-p mt-32">
                                        <button mat-raised-button (click)="updatePortalTimings()" class="deep-purple">
                                            Update Portal Timings
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Event Poster">
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <div fxLayout="row wrap w-100-p" fxLayoutAlign="start start">
                                    <div fxLayout="row" fxFlexOffset="12" class="w-100-p p-12" style="justify-content: space-between;">
                                        <button mat-raised-button color="accent" (click)="file.click()">Replace</button>
                                        <button mat-raised-button [color]="uploading ? 'disabled' : 'primary'" 
                                        (click)="saveImage()" *ngIf="imageFile"
                                        [disabled]="uploading">{{uploading ? 'Uploading' : 'Save'}}</button>
                                        <input type="file" #file style="display: none;" (change)="previewImage($event)" [(ngModel)]="poster">
                                    </div>
                                    <div
                                          fxlayout="row" fxLayoutAlign="center center" class="w-100-p">
                                        <img class="media w-75-p m-auto"
                                             [src]="posterURL | safe" *ngIf="posterURL">
                                    </div>
                                </div>
                            </div>
                        </mat-tab>

                        <mat-tab label="Notifications">
                            <div class="tab-content p-24" fusePerfectScrollbar>
                            <div class="w-100-p">
                                <mat-form-field class="w-100-p">
                                    <mat-label class="accent-fg">Notification body</mat-label>
                                    <textarea matInput
                                              name="description(40-400 char)"
                                              [(ngModel)]="notificationBody"
                                              rows="5">
                                    </textarea>
                                </mat-form-field>
                                <button mat-raised-button color="primary" (click)="sendNotification()">SEND NOTIFICATION</button>
                            </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Docs" *ngIf="eventDetail && eventDetail.links">
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <div class="w-100-p" *ngFor="let link of eventDetail.links; let i = index">
                                    <mat-form-field class="w-100-p">
                                        <mat-label class="accent-fg">Link</mat-label>
                                        <input matInput
                                        [(ngModel)]="link.url">
                                    </mat-form-field>
                                    <mat-form-field class="w-100-p">
                                        <mat-label class="accent-fg">Description</mat-label>
                                        <input matInput
                                        [(ngModel)]="link.description">
                                    </mat-form-field>
                                    <a (click)="deleteLink(i)" class="link">
                                        <mat-icon class="secondary-text s-24 mat-icon material-icons"
                                            role="link" aria-hidden="true" color="warn" matTooltip="Delete link">delete_outline</mat-icon>
                                    </a>
                                </div>
                                <a (click)="addLink()" class="link">
                                    <mat-icon class="secondary-text s-32 mat-icon material-icons"
                                    role="link" aria-hidden="true" color="warn" matTooltip="Add link">add</mat-icon>
                                </a>
                                <button mat-raised-button color="accent" style="float: right;" (click)="updateLinks()">UPDATE LINKS</button>

                            </div>
                        </mat-tab>
                        <mat-tab label="Rounds" *ngIf="eventDetail && eventDetail.rounds">
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <div class="w-100-p" *ngFor="let round of eventDetail.rounds; let i = index">
                                    <span class="mat-title">Round {{i + 1}}</span>
                                    <a style="float: right;" (click)="deleteRound(eventDetail, i)" class="link">
                                        <mat-icon class="secondary-text s-32 mat-icon material-icons" role="link"
                                                  aria-hidden="true" matTooltip="Delete Round"
                                                  color="warn">delete_outline</mat-icon>
                                    </a>
                                    <mat-form-field class="w-100-p">
                                        <mat-label class="accent-fg">Description</mat-label>
                                        <textarea matInput
                                                  name="description(40-400 char)"
                                                  [(ngModel)]="round.description"
                                                  rows="5">
                                    </textarea>
                                    </mat-form-field>
                                    <mat-form-field class="w-100-p">
                                        <mat-label class="accent-fg">Venue</mat-label>
                                        <input type="text" matInput
                                                  name="venue"
                                                  [(ngModel)]="round.venue"
                                                  rows="5">
                                    </mat-form-field>
                                    <div class="w-100-p" fxLayout="row">
                                        <div class="w-50-p">
                                            <div class="accent-fg">
                                                <span>Start Time</span>
                                            </div>
                                            <div fxLayout="row">
                                            <span [owlDateTimeTrigger]="dt2">
                                            <mat-icon _ngcontent-c56="" class="secondary-text s-32 mat-icon material-icons" role="img" aria-hidden="true">
                                             calendar_today
                                             </mat-icon>
                                            </span>
                                                <input [owlDateTime]="dt2" placeholder="Start Time" [(ngModel)]="round.startsAt">
                                                <owl-date-time #dt2 [pickerMode]="'popup'"></owl-date-time>
                                            </div>
                                        </div>

                                        <div class="w-50-p">
                                            <div class="accent-fg">
                                                <span>End Time</span>
                                            </div>
                                            <div class="w-100-p" fxLayout="row">
                                            <span [owlDateTimeTrigger]="dt1">
                                            <mat-icon _ngcontent-c56="" class="secondary-text s-32 mat-icon material-icons" role="img" aria-hidden="true">
                                             calendar_today
                                            </mat-icon>
                                             </span>
                                                <input [owlDateTime]="dt1" placeholder="End Time" [(ngModel)]="round.endsAt">
                                                <owl-date-time #dt1 [pickerMode]="'popup'"></owl-date-time>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w-100-p">

                                    <div class="mat-subheading-2 accent-fg">Rules</div>

                                    <div class="w-100-p" *ngFor="let rule of round.rules; let j = index">
                                        <mat-form-field class="w-90-p">
                                            <input matInput
                                                      name="description(40-400 char)"
                                                      [(ngModel)]="rule.description"
                                                      >
                                        </mat-form-field>
                                        <a (click)="deleteRule(round, j)" class="link">
                                            <mat-icon class="secondary-text s-16 mat-icon material-icons"
                                                      role="link" aria-hidden="true" color="warn" matTooltip="Delete Rule">delete_outline</mat-icon>
                                        </a>
                                    </div>
                                    <mat-icon class="secondary-text s-32 mat-icon material-icons" role="link" aria-hidden="true"
                                              color="primary" (click)="addNewRule(round)" matTooltip="Add New Rule">add</mat-icon>
                                </div>
                                </div>
                                <mat-icon class="secondary-text s-48 mat-icon material-icons" role="link" aria-hidden="true"
                                          color="primary" (click)="addNewRound(eventDetail)" matTooltip="Add New Round">note_add</mat-icon>
                                <button mat-raised-button color="accent" style="float: right;" (click)="updateRounds()">UPDATE INFO</button>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>

            </div>


        </div>

    </div>
</div>
